<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Custom Highlight Converter -->
    <conversionRule conversionWord="highlight" converterClass="com.sscanner.team.global.configure.CustomHighlightConverter"/>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd" timeZone="Asia/Seoul"/>
    <property name ="LOG_PATTERN" value="%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul}) [%thread] [traceId=%X{traceId}] %highlight(%-5level) %magenta(%logger{36}) - %msg %n" />

    <springProfile name="!prod">
        <include resource="console-appender.xml"/>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="file-info-appender.xml"/>
        <include resource="file-warn-appender.xml"/>
        <include resource="file-error-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>
</configuration>