.error-message {
    color: red;
    position: fixed; /* 에러 메시지를 화면에 고정시킵니다 */
    top: 50%; /* 수직 가운데 정렬 */
    left: 50%; /* 수평 가운데 정렬 */
    transform: translate(-50%, -50%); /* 요소 자체의 너비와 높이를 조정하여 정확히 가운데로 이동 */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* 다른 요소들보다 위에 표시되도록 설정 */
}

.container {
    position: relative; /* 컨테이너의 위치를 설정 */
}
